html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem is equal 10px*/
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body
  {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
  }

  /* Globales */
  h1,h2,h3,h4
  {
    font-family: 'PT Sans', sans-serif;
  }

  img
  {
      max-width: 100%;
  }

  h1
  {
      font-size: 4.8rem;
  }

  h2
  {
      font-size: 4rem;
  }

  h3
  {
    font-size: 3.2rem;
  }

  h4
  {
      font-size: 2.8rem;
  }

  /* Utilidades */

  .contenedor
  {
      max-width: 120rem;
      width: 90%;
      margin: 0 auto;
  }

  .centrar-texto
  {
      text-align: center;
  }

  .no-margin
  {
      margin: 0;
  }

  @media (min-width:768px) 
  {
      .grid
      {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          
      }

      .centrar-columns
      {
          justify-content: center;
      }

  }

  /* Botones */
  .boton
  {
    display: block;
    padding: 1rem 3rem;
    text-align: center;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
  }

  @media (min-width:768px) 
  {
      .boton
      {
          display:inline-block
      }
  }

  .boton-primario
  {
    background-color: #000000;
  }

  .boton-secundario
  {
    background-color: brown;
  }



  /* Header */
  .site-header
  {
      background-image: url(../img/banner.jpg);
      background-position: center center;
      background-size: cover;
      height: 60rem;

  }

  .barra
  {
      text-align: center;
  }

  @media (min-width:768px) 
  {
      .barra
      {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
  }

  .barra h1
  {
      font-weight: 400;
  }

  .barra h1 span
  {
      font-weight: 700;
  }

  .barra a
  {
      color: #ffffff;
      text-decoration: none;
  }

  .navegacion a
  {
      display: block;
      font-size: 1.8rem;
  }

  @media (min-width:768px) 
  { 
    .navegacion a
    {
        display: inline;
        margin-right: 2rem;
    }  

    .navegacion a:last-of-type
    {
        margin: 0;
    }
  }

  .texto-header 
  {
    color: white;
    margin-top: 5rem;
    text-align: center;
  }

  @media (min-width:768px) 
  {
      .texto-header
      {
          margin-top: 18rem;
      }
  }

  .texto-header p
  {
      font-size: 2rem;
  }

  /* Main */
  .contenido-principal
  {
      display: flex;
      flex-wrap: wrap;
  }
 
  .cursos, .nuestro-blog
  {
      flex: 0 0 100%;
  }

  @media (min-width:768px) 
  {
      .contenido-principal
      {
         justify-content: space-between; 
      }

      .nuestro-blog
      {
          flex-basis: 60%;
      }

      .cursos
      {
          flex-basis: calc(40% - 3rem);
          order: 1;
      }
  }

  .blog
  {
      margin-bottom: 3rem;
      border-bottom: 3px solid #e1e1e1;
      padding-bottom: 2rem;
  }

  .blog:last-of-type
  {
      border: none;
  }

  /* Aside Cursos */

  .lista-cursos
  {
      padding: 0;
      list-style: none;
  }

  .curso
  {
      padding: 2rem 0;
      border-bottom: 2px solid #e1e1e1;
  }

  .curso:last-of-type
  {
      border: none;
  }

  .curso p
  {
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
  }

  .curso p span, .curso p.contenido-curso
  {
      font-weight: 400;
  }

  /* p .contenido-curso
  {
      font-weight: 400;
  } */


  /* Footer */
  .site-footer
  {
      background-color: black;
      padding: 4rem;
      margin-top: 3rem;
      
  }

  /* Nosotros */
  
@media (min-width:768px) 
{
    .column-6
    {
        flex: 0 0 calc(50% - 1rem);
    }
   
}
  

/* Cursos */
@media (min-width:768px) 
{
    .column-4
    {
        flex: 0 0 calc(40% - 1rem);
    }

    .column-8
    {
        flex: 0 0 calc(60% - 1rem);
    }
}

/* Contacto */
@media (min-width:768px) 
{
    .column-12
    {
        flex: 0 0 100%;
    }

    .column-10
    {
        flex: 0 0 83%;
    }
}

.formulario-contacto
{
    background-color: #ffffff;
    padding: 5rem;
}

@media (min-width:768px) 
{
    .formulario-contacto
    {
        margin-top: -5rem;
    }
}

.formulario-contacto .campo
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.formulario-contacto .campo label
{
    flex: 0 0 8rem;
}

.formulario-contacto .campo input:not([type="submit"]), .formulario-contacto .campo textarea
{
    flex: 1;
    border: 1px solid #e1e1e1;
}

.formulario-contacto .campo textarea
{
    height: 20rem;
}

@media (min-width:768px) 
{
    .enviar
    {
        display: flex;
        justify-content: flex-end;
    }
}