html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem is equal 10px*/
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body
  {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
  }

  /* Globales */
  h1,h2,h3,h4
  {
    font-family: 'PT Sans', sans-serif;
  }

  img
  {
      max-width: 100%;
  }

  h1
  {
      font-size: 4.8rem;
  }

  h2
  {
      font-size: 4rem;
  }

  h3
  {
    font-size: 3.2rem;
  }

  h4
  {
      font-size: 2.8rem;
  }

  /* Utilidades */

  .contenedor
  {
      max-width: 120rem;
      width: 90%;
      margin: 0 auto;
  }

  .centrar-texto
  {
      text-align: center;
  }

  .no-margin
  {
      margin: 0;
  }

  /* Header */
  .site-header
  {
      background-image: url(../img/banner.jpg);
      background-position: center center;
      background-size: cover;
      height: 60rem;

  }

  .barra
  {
      text-align: center;
  }

  @media (min-width:768px) 
  {
      .barra
      {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
  }

  .barra h1
  {
      font-weight: 400;
  }

  .barra h1 span
  {
      font-weight: 700;
  }

  .barra a
  {
      color: #ffffff;
      text-decoration: none;
  }

  .navegacion a
  {
      display: block;
      font-size: 1.8rem;
  }

  @media (min-width:768px) 
  { 
    .navegacion a
    {
        display: inline;
        margin-right: 2rem;
    }  

    .navegacion a:last-of-type
    {
        margin: 0;
    }
  }

  .texto-header 
  {
    color: white;
    margin-top: 5rem;
    text-align: center;
  }

  @media (min-width:768px) 
  {
      .texto-header
      {
          margin-top: 18rem;
      }
  }

  .texto-header p
  {
      font-size: 2rem;
  }

  /* Main */
  .contenido-principal
  {
      display: flex;
      flex-wrap: wrap;
  }
 
  .cursos, .nuestro-blog
  {
      flex: 0 0 100%;
  }

  @media (min-width:768px) 
  {
      .contenido-principal
      {
         justify-content: space-between; 
      }

      .nuestro-blog
      {
          flex-basis: 66.6%;
      }

      .cursos
      {
          flex-basis: calc(33.3% - 3rem);
          order: 1;
      }
  }

  .blog
  {
      margin-bottom: 3rem;
      border-bottom: 1px solid #e1e1e1;
  }

  .blog:last-of-type
  {
      border: none;
  }

  /* Aside Cursos */

  .lista-cursos
  {
      padding: 0;
      list-style: none;
  }

  .curso
  {
      padding-bottom: 3rem;
      border-bottom: 1px solid #e1e1e1;
  }

  .curso:last-of-type
  {
      border: none;
  }

  .curso p
  {
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
  }

  .curso p span
  {
      font-weight: 400;
  }